// ========================================================
// @components: get in touch
// ========================================================
//

.get-in-touch {
  background-color: $white;

  .name {
    color: $brand-green;
  }
}

.details {
  margin-bottom: $margin6;
  display: flex;
  flex-direction: row;
  font-size: $font-size3;
  color: $black;

  .email {
    width: 50%;
  }
  .phone {
    width: 50%;
    margin: 0;
    font-size: $font-size3;
  }
}

.details .plus {
  font-family: times;
}

.footer-text {
  text-align: center;
  color: $brand-green;
  font-size: $font-size5;
}

.green-line {
  height: 16px;
  background-color: $brand-green;
  width: 100%;
}

@media (max-width: $breakpoint-m) {
  .details {
    flex-direction: column;
  }
  .details .email {
    margin-bottom: $margin3;
  }
  .details .phone {
    width: 100%;
  }
}

@media (max-width: $breakpoint-s) {
  .get-in-touch .name,
  .details .phone,
  .plus,
  .details .email a {
    font-size: $font-size3;
  }
  .get-in-touch .name {
    margin-bottom: $margin3;
  }
}
