// ========================================================
// @components: hero
// ========================================================
//

.hero {
  background-color: $brand-green;
  padding-top: 250px;
  padding-bottom: 270px;
}

.hero-content {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;

}

.hero-content p {
  color: $white;
  font-family: 'camptonlight_demo', arial , sans-serif;
  margin-top: 20px;
  line-height: 1.4;
}

@media (max-width:$breakpoint-m) {
  .hero-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
