// ========================================================
// @components: our clients
// ========================================================
//

.our-clients-p-1 {
  float:left;
  max-width: 50%;
}

.our-clients-p-2 {
  float:right;
  max-width: 50%;
}
