// ========================================================
// @components: our approach
// ========================================================
//

.our-approach {
  background-color: $brand-green;
  padding-bottom: 160px;
}

.our-approach h2 {
  color: $white;
}

.our-approach p {
  font-size: 36px;
  color: $white;
  max-width: 75%;
}

@media (max-width:$breakpoint-m){
  .our-approach p {
    max-width: 100%;
  }
}
