// ========================================================
// @components: what-we-do
// ========================================================
//

.what-we-do {
  background-color: $grey;
  padding-bottom: $padding4;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.6;
  }
}

.what-we-do-content {
  display: flex;
  flex-direction: row;
}

.what-we-do-p {
  max-width: 65%;
  padding-bottom: $padding6;
}

.what-we-do p {
  font-size: $font-size2;
  color: $brand-green;
}

.what-we-do-list {
  padding-left: $padding6;
  padding-bottom: $padding4;
  align-self: flex-end;
}

.green-accent {
  width: 40px;
  height: 8px;
  background-color: $brand-green;
  margin-bottom: $margin3;
}

@media (max-width: $breakpoint-m) {
  .what-we-do {
    background-color: $grey;
    padding-bottom: $padding5;
  }

  .what-we-do-content {
    flex-direction: column;
  }

  .what-we-do-p {
    max-width: 100%;
    padding-bottom: 0;
  }

  .what-we-do-list {
    padding-left: $padding0;
    margin-top: $margin4;
    align-self: flex-start;
  }

  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
@media (max-width: $breakpoint-s) {
  .what-we-do p {
    font-size: 24px;
  }
}
