// ========================================================
// @utilities: wrapper
// ========================================================
//

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: $padding4;
  padding-right: $padding4;
}

@media (max-width: $breakpoint-s) {
  .wrapper {
    padding-left: $padding3;
    padding-right: $padding3;
  }
}
