// ========================================================
// @settings: spacing
// ========================================================
//

// Padding values
$padding0: 0;
$padding1: 0.25rem; // 4px
$padding2: 0.5rem; // 8px
$padding3: 1rem; // 16px
$padding4: 2rem; // 32px
$padding5: 4rem; // 64px
$padding6: 8rem; // 128px
$padding7: 16rem; // 256px

// Margin values
$margin0: 0;
$margin1: 0.25rem; // 4px
$margin2: 0.5rem; // 8px
$margin3: 1rem; // 16px
$margin4: 2rem; // 32px
$margin5: 4rem; // 64px
$margin6: 8rem; // 128px
$margin7: 16rem; // 256px
