// ========================================================
// @settings: widths
// ========================================================
//

$width1: 1rem; // 16px
$width2: 2rem; // 32px
$width3: 4rem; // 64px
$width4: 8rem; // 128px
$width5: 16rem; // 256px
$width6: 32rem; // 512px
$width7: 48rem; // 768px
$width8: 64rem; // 1024px
$width9: 96rem; // 1536px
$width100: 100%;

$max-width1: 1rem; // 16px
$max-width2: 2rem; // 32px
$max-width3: 4rem; // 64px
$max-width4: 8rem; // 128px
$max-width5: 16rem; // 256px
$max-width6: 32rem; // 512px
$max-width7: 48rem; // 768px
$max-width8: 64rem; // 1024px
$max-width9: 96rem; // 1536px
$max-width100: 100%;
