.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@font-face {
  font-family: 'camptonlight_demo';
  src: url("/fonts/campton-lightdemo-webfont.woff2") format("woff2"), url("/fonts/campton-lightdemo-webfont.woff") format("woff"); }

@font-face {
  font-family: 'camptonbold_demo';
  src: url("/fonts/campton-bolddemo-webfont.woff2") format("woff2"), url("/fonts/campton-bolddemo-webfont.woff") format("woff"); }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'camptonlight_demo';
  src: url("./fonts/campton-lightdemo-webfont.woff2") format("woff2"), url("./fonts/campton-lightdemo-webfont.woff") format("woff"); }

@font-face {
  font-family: 'camptonbold_demo';
  src: url("./fonts/campton-bolddemo-webfont.woff2") format("woff2"), url("./fonts/campton-bolddemo-webfont.woff") format("woff"); }

body {
  font-family: 'camptonlight_demo', arial , sans-serif;
  line-height: 1.2; }

h2 {
  font-family: 'camptonbold_demo', arial , sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #475B51;
  margin-bottom: 32px;
  padding-top: 160px;
  margin-top: 0;
  letter-spacing: 2px; }

p {
  font-family: 'camptonlight_demo', arial , sans-serif;
  font-size: 24px; }

.get-in-touch .name {
  font-size: 30px;
  color: #475B51; }

.details {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row; }

.details .email {
  width: 50%; }

.details .email a {
  text-decoration: none;
  font-size: 30px;
  color: #000000; }

.details .email a:hover {
  padding-bottom: 6px;
  border-bottom: 4px #475B51 solid; }

.details .phone {
  font-size: 30px;
  width: 50%;
  margin: 0;
  color: #000000; }

.plus {
  font-family: times; }

.footer-text {
  text-align: center;
  color: #475B51;
  font-size: 16px; }

.green-line {
  height: 16px;
  background-color: #475B51;
  width: 100%; }

@media (max-width: 1000px) {
  .details {
    flex-direction: column; }
  .details .email {
    margin-bottom: 12px; } }

.hero {
  background-color: #475B51;
  padding-top: 250px;
  padding-bottom: 270px; }

.hero-content {
  margin: 0 auto;
  text-align: center;
  max-width: 500px; }

.hero-content p {
  color: #FFFFFF;
  font-family: 'camptonlight_demo', arial , sans-serif;
  margin-top: 20px;
  line-height: 1.4; }

@media (max-width: 1000px) {
  .hero-content {
    padding-left: 40px;
    padding-right: 40px; } }

.our-approach {
  background-color: #475B51;
  padding-bottom: 160px; }

.our-approach h2 {
  color: #FFFFFF; }

.our-approach p {
  font-size: 36px;
  color: #FFFFFF;
  max-width: 75%; }

@media (max-width: 1000px) {
  .our-approach p {
    max-width: 85%; } }

.our-clients-p {
  padding-bottom: 160px;
  border-bottom: #475B51 1px solid;
  display: flex;
  flex-direction: row; }

.our-clients-p-1 {
  padding-right: 20px;
  max-width: 50%; }

.our-clients-p-2 {
  padding-left: 20px;
  max-width: 50%; }

blockquote {
  text-align: center;
  max-width: 700px;
  margin: 70px auto; }

blockquote svg {
  width: 28px;
  height: 18px;
  margin-bottom: 20px; }

blockquote .quote {
  margin-bottom: 30px; }

blockquote .source {
  font-size: 16px;
  text-transform: uppercase; }

@media (max-width: 1000px) {
  .our-clients-p {
    flex-direction: column; }
  .our-clients-p-1,
  .our-clients-p-2 {
    padding: 0px;
    max-width: 85%; } }

.what-we-do {
  background-color: #E5E5E5;
  padding-bottom: 160px; }

.what-we-do-content {
  display: flex;
  flex-direction: row; }

.what-we-do-p {
  max-width: 65%; }

.what-we-do p {
  font-size: 36px;
  color: #475B51; }

.what-we-do-list {
  padding-left: 120px;
  transform: translateY(260px); }

.green-accent {
  width: 40px;
  height: 8px;
  background-color: #475B51;
  margin-bottom: 20px; }

ul {
  padding: 0; }

li {
  list-style-type: none;
  font-size: 18px;
  line-height: 1.6; }

@media (max-width: 1000px) {
  .what-we-do-content {
    display: flex;
    flex-direction: column; }
  .what-we-do-p {
    max-width: 85%; }
  .what-we-do-list {
    padding-left: 0px;
    transform: translateY(0px); }
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; } }

.wrapper {
  max-width: 1100px;
  margin: 0 auto; }

.wrapper {
  padding-left: 60px;
  padding-right: 60px; }
