// ========================================================
// @elements: typography
// ========================================================
//

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "camptonlight_demo", arial, sans-serif;
  line-height: 1.2;
}

h2 {
  font-family: "camptonbold_demo", arial, sans-serif;
  font-size: $font-size4;
  text-transform: uppercase;
  color: $brand-green;
  margin-bottom: $margin4;
  padding-top: $padding6;
  margin-top: 0;
  letter-spacing: 2px;
}

p {
  font-family: "camptonlight_demo", arial, sans-serif;
  font-size: $font-size3;
}
