// ========================================================
// @elements: typography
// ========================================================
//
body {
  font-family: 'camptonlight_demo', arial , sans-serif;
  line-height: 1.2;
}

h2 {
  font-family: 'camptonbold_demo', arial , sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $brand-green;
  margin-bottom: 32px;
  padding-top: 160px;
  margin-top: 0;
  letter-spacing: 2px;
}

p {
  font-family: 'camptonlight_demo', arial , sans-serif;
  font-size: 24px;
}
