// ========================================================
// @settings: font-sizes
// ========================================================
//

$font-size1: 3rem; // 48px
$font-size2: 2.25rem; // 36px
$font-size3: 1.5rem; // 24px
$font-size4: 1.25rem; // 20px
$font-size5: 1rem; // 16px
$font-size6: 0.875rem; // 14px
$font-size7: 0.75rem; // 12px
